<div class="clearfix rowCourseReussisPadTop InfoCourCollege">
    <div class="col-md-9">
        <div class="row ins-row">
            <div class="col-md-2">
                Cours
            </div>
            <div class="col-md-6">
                @Html.DropDownList("lstCours", null,"autre", new { @class = "form-search ins-selectcours valLignecours dropDownCours" })
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control text-box single-line ins-text-box valLignecours result" placeholder="Résultat" />                
            </div>
        </div>
        <div class="row ins-row">
            <div class="col-md-2">
                Autre:
            </div>
            <div class="col-md-6">
                <input id ="autreCours" type="text" class="form-control text-box single-line ins-text-box valLignecours coursChange" placeholder="inscrire un nom de cours"/>
            </div>
        </div>
        <div class="row ins-row">
            <div class="col-md-2">
                Collège
            </div>
            <div class="col-md-6">
                @Html.DropDownList("lstCollege", null, "autre", new { @class = "form-search ins-selectcollege valLignecours dropDownCollege" })
            </div>
        </div>
        <div class="row ins-row">
            <div class="col-md-2">
                Autre:
            </div>
            <div class="col-md-6">
                <input id ="autreCollege" type="text" class="form-control text-box single-line ins-text-box valLignecours collegeChange" placeholder="inscrire un nom de collège"/>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <input type="button" value="Supprimer" style="float:right" class="btn btn-default btnSupprimerCours" />
    </div>
</div>
