@{
    ViewBag.Title = "Inscription";
}
<br />
<h2>@ViewBag.Title - Vous êtes déjà inscrit</h2>
<br />
<ul style="list-style:none">
    <li>
        <h4>@sachem.Models.Messages.ErreurDejaTitre</h4>
    </li>
    <li>
        <ul>
            <li>@sachem.Models.Messages.ErreurDejaCause</li>
            <li>@sachem.Models.Messages.ErreurOptionSupplementaire</li>
        </ul>
    </li>
</ul>
<br />