@using sachem.Models
@{
    ViewBag.Title = Messages.Inscription;
}
<br />
<h2>@ViewBag.Title</h2>
<br />
<ul style="list-style:none">
    <li>
        <h4>@Messages.ErreurDejaTitre</h4>
    </li>
    <li>
        <ul>
            <li>@Messages.ErreurDejaCause</li>
            <li>@Messages.ErreurOptionSupplementaire</li>
        </ul>
    </li>
</ul>
<br />