@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur de chargement";
}
<br />
<h2><img src="~/Images/Alert.jpg" height="25" style="vertical-align:initial" /> Il est impossible d'afficher cette page</h2>
<br />
<ul style="list-style:none">
    <li>
        <h4>Voici les causes probables de ce problème:</h4>
    </li>
    <li>
        <ul>
            <li>Vous n'êtes pas connecté au site. Sélectionnez "Se connecter" pour vous connecter et réessayez.</li>
            <li>Votre inscription au SACHEM est déjà complète. Vous pouvez la modifier à partir de votre profil.</li>
        </ul>
    </li>
</ul>
<br />