@{
    ViewBag.Title = "Inscription";
}
<br />
<h2>@ViewBag.Title - Vous êtes déjà inscrit</h2>
<br />
<ul style="list-style:none">
    <li>
        <h4>Votre inscription est déjà complétée</h4>
    </li>
    <li>
        <ul>
            <li>Vous pouvez la modifier à partir de votre profil.</li>
        </ul>
    </li>
</ul>
<br />