@{ var message = ((sachem.Controllers.HomeController)this.ViewContext.Controller).RetourneMessageInscriptionFermee(); }

@{
    ViewBag.Title = "Inscription";
}
<br />
<h2>@ViewBag.Title fermée</h2>
<br />
<ul style="list-style:none">
    <li>
        <h4>@sachem.Models.Messages.ErreurFermeTitre</h4>
    </li>
    <li>
        <ul>
            <li>@message</li>
            <li>@sachem.Models.Messages.ErreurOptionSupplementaire</li>
        </ul>
    </li>
</ul>
<br />