@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur de chargement";
}
<br />
<h2><img src="~/Images/Alert.jpg" height="25" style="vertical-align:initial" /> Il est impossible d'afficher la page que vous avez demandé</h2>
<br />
<ul style="list-style:none">
    <li>
        <h4>Voici les causes probables de ce problème:</h4>
    </li>
    <li>
        <ul>
            <li>Vous n'êtes pas connecté au site. Sélectionnez "Se connecter" pour vous connecter et réessayez.</li>
            <li>L'inscription au SACHEM est présentement fermée. Réferrez vous à un enseignant de mathématiques.</li>
            <li>Vous êtes déjà inscrit..</li>
        </ul>
    </li>
</ul>
<br />