@model System.Web.Mvc.HandleErrorInfo
@using sachem.Controllers

@{ string Message = ((sachem.Controllers.HomeController)this.ViewContext.Controller)
                                                                  .RetourneMessageInscriptionFermee(); }

@{
    ViewBag.Title = "Inscription fermée";
}
<br />
<h2>Inscription SACHEM</h2>
<br />
<ul style="list-style:none">
    <li>
        <h4>L'inscription au SACHEM est présentement fermée</h4>
    </li>
    <li>
        <ul>
            <li>@Message</li>
            <li>Pour toute question, réferrez-vous à un enseignant de mathématiques.</li>
        </ul>
    </li>
</ul>
<br />