
@{
    ViewBag.Title = "Importer données";
}

<h2>Importer données</h2>

@Styles.Render("~/Content/dropzonescss")
 

<link href="../../Scripts/dropzone/css/basic.css" rel="stylesheet" />
<link href="../../Scripts/dropzone/css/dropzone.css" rel="stylesheet" />
<style type="text/css">
    .dz-max-files-reached {
        background-color: red;
    }
</style>
<script src="../../Scripts/dropzone/dropzone.min.js"></script>
@*<script type="text/javascript">
        //File Upload response from the server
        Dropzone.options.dropzoneForm = {
            maxFiles: 1,
            init: function () {
                this.on("complete",
                    function(data) {
                        //var res = eval('(' + data.xhr.responseText + ')');
                        var res = JSON.parse(data.xhr.responseText);
                    });
                this.on("maxfilesexceeded", function (data) {
                    var res = eval('(' + data.xhr.responseText + ')');
                });
                this.on("addedfile", function (file) {
                    // Create the remove button
                    var removeButton = Dropzone.createElement("<button>Remove file</button>");
                    // Capture the Dropzone instance as closure.
                    var _this = this;
                    // Listen to the click event
                    removeButton.addEventListener("click", function (e) {
                        // Make sure the button click doesn't submit the form:
                        e.preventDefault();
                        e.stopPropagation();
                        // Remove the file preview.
                        _this.removeFile(file);
                        // If you want to the delete the file on the server as well,
                        // you can do the AJAX request here.
                    });
                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                });
            }
        };


</script>*@

@*@using (Html.BeginForm("SaveUploadedFile", "Importer", FormMethod.Post, new {@class = "form-inline", role = "form"}))
{*@

    <div class="jumbotron">

        <form action="~/CSV/" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="width: 100%; background: none; border: none; background: gray; border: black dashed 3px; width: 200px; padding: 50px; text-align: center; color: white;">
            <div class="fallback">
                <input name="file" type="file" multiple/>
                <input type="submit" value="Upload"/>
            </div>
        </form>
    </div>


@*}*@
@Scripts.Render("~/bundles/dropzonescripts")