<link rel="stylesheet" href="~/Scripts/dropzone/dropzone.css" />
<script src="~/Scripts/dropzone/dropzone.js"></script>

@{
    ViewBag.Title = "Importer les données";
}

<h2>@ViewBag.Title</h2>
<h5>À partir de cette page, il vous est possible de déposer des fichers de l'administration qui alimenteront les listes de données de l'application PAM.</h5>
<div class="jumbotron">
    <form action="~/Importer/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="border: dashed; height:300px;">
        <div class="dz-message">
            Déposez les fichiers ici ou cliquez pour téléverser.<br />
            <h5>Les fichers seront traités dans les prochaines dix minutes.</h5>
        </div>
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    </form>
</div>

<script>
    Dropzone.options.dropzoneForm = {
        maxFilesize: 5
    };
</script>