@using sachem.Models

<h4 class="page-header">Disponibilités</h4>
<style>
    .checkzone {
        width: 25px;
        top: -1px;
        height: 25px;
        background-size: 100%;
        -moz-appearance: none;
    }
</style>
<table class="table-bordered table-striped col-sm-12">
    @{ List<string> jours = ((sachem.Controllers.JumelageController)this.ViewContext.Controller).RetourneListeJours(); }
    <tr>
        <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">Heures</th>
        @foreach (string jour in jours)
        {
            <th class="col-sm-2 text-center" style="height:30px;font-weight:bold;color:white;background-color:#666;">@jour</th>
        }
    </tr>
    @{ Dictionary<string, List<string>> ListeLabelValueDeTableauDisponibilite = ((sachem.Controllers.JumelageController)this.ViewContext.Controller).RetourneTableauDisponibilite(); }
    @{
        foreach (var v in ListeLabelValueDeTableauDisponibilite)
        {
            <tr>
                <td class="text-center">
                    @(v.Key)
                </td>
                @foreach (var w in v.Value)
                {
                    <td class="text-center">
                        @Html.CheckBox("horaireCheckbox", false, htmlAttributes: new
                    {
                        @class = "control-label col-md-2 checkzone",
                        @id = w,
                        @value = w
                    })
                    </td>
                }                        
            </tr>
        }
    }
</table>
<br />