@using sachem.Models

<h4 class="page-header">Jumelé à</h4>

<table class="table table-striped col-sm-12">
    <tr>
        <th class="col-sm-5">Nom</th>
        <th class="col-sm-1">No de DA</th>
        <th class="col-sm-3">Plage horaire</th>
        <th class="col-sm-3"></th>
    </tr>
@for (int i = 0; i < 2; i++)
{
    <tr>
        
        <td>Nom, Prenom</td>
        <td>#######</td>
        <td>Lundi 12h00-13h30</td>
        <td><a href="#">Accéder</a> | 
        <a href="#">Mettre fin à ce jumelage</a></td>
        
    </tr>
}
</table>