@model sachem.Models.Inscription
@using sachem.Models
@using sachem.Controllers
@{ IQueryable<Inscription> listeJumeleurs = ((sachem.Controllers.JumelageController)this.ViewContext.Controller)
                                                  .RetourneJumeleurs(Model.id_Inscription, Model.id_TypeInscription, Model.id_Sess);
 }
@if (listeJumeleurs.Count()>0)
{
<h4 class="page-header">Jumelé à</h4>

<table class="table table-striped col-sm-12">
    <tr>
        <th class="col-sm-5">Nom</th>
        <th class="col-sm-1">No de DA</th>
        <th class="col-sm-3">Plage horaire</th>
        <th class="col-sm-3"></th>
    </tr>
    @foreach (var j in listeJumeleurs)
    {
        List<string> plageHoraire = ((sachem.Controllers.JumelageController)this.ViewContext.Controller)
                                                      .RetournePlageHoraireChaqueJumeleur(Model.id_Inscription, Model.id_TypeInscription, Model.id_Sess, j.id_Inscription);
        foreach(string p in plageHoraire)
        {
            <tr>
        
                <td>@j.Personne.NomPrenom</td>
                <td>@j.Personne.Matricule7</td>
                <td>@p</td>
                <td><a href=@j.id_Inscription>Accéder</a> | 
                <a href="#">Mettre fin à ce jumelage</a></td>
        
            </tr>
        }
    }
</table>
}