body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    position:absolute;
    width:200px;
}

.cll {
    background-image: url('../Images/logo-cegep.png');  
    background-repeat:no-repeat;
    background-position:left;
    background-size: auto 70px;
    height: 70px; 
}

.sachem {
    background-image: url('../Images/logo-sachem.png');
    background-position: 74px 7px;
    background-repeat:no-repeat;
    background-size: auto 35px;
    height: 70px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    text-align:left;
    padding-bottom: 5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*table avec les rangees de differentes couleurs -class table --debut*/
.table tr:nth-child(even) {
    background-color: #e6e6e6;
}

.table th {
  background-color: white;  
}

.table td{
    border: 1px solid #ccc;    
}

.table {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/*table avec les rangees de differentes couleurs --fin*/

/*drop down list de recherche*/
.form-search
{
  display: inline-block;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  float:left;
  overflow:hidden;
}

.tsearch
{
    display: contents;
    float:right;
    width:100%;
}
.tsearch td
{
    padding: 5px;
}

/*debut barre de progres pour en attente de jumelage*/

.progres {
  position: fixed;
  left:0;
  top:51px;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #ccc;
  border-radius: 2px;
  margin: 0;
  overflow: hidden;
}

.progres .indeterminate {
  background-color: #428bca;
}

.progres .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
          animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progres .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
/*fin barre de progres pour en attente de jumelage*/

@media (min-width: 768px) and (max-width: 991px) {
    .nomUtilisateurNav{
        display:none !important;
    }
}

@media (max-width: 768px)
{
    .glyphicon-user{
        display:none !important;
    }
}