body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    position:absolute;
    width:200px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #dddddd;
}

.navbar-inverse .navbar-toggle {
  border-color: #555555;
}

.navbar-inverse {
    background-color: #333333;
}

.cll {
    background-image: url('../Images/logo-cegep.png');  
    background-repeat:no-repeat;
    background-position:0 -4px;
    background-size: auto 74px;
    height: 70px; 
}

@font-face {
    font-family: 'FontDuCegep'; /*a name to be used later*/
    src: url('../fonts/cegepLevisLauzon.otf'); /*URL to font*/
    font-stretch:expanded;
}

.nomSite {
    text-transform:uppercase;
    margin-left:82px;
    font-family:FontDuCegep;
    font-size:26px;
    padding-top:8px;
    word-spacing:0;
    letter-spacing:2px;
    font-weight:900;
    color:#fff;
}

.recherche  div {
    padding: 0;
    margin: 0;
}

.row .recherche-label {
    line-height: 32px;
}
.row .recherche-field{
    padding-right: 20px;
    margin-top: 0;
    padding-bottom: 5px;
}
.row div:last-child .recherche-field{
    padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    text-align:left;
    padding-bottom: 5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*table avec les rangees de differentes couleurs -class table --debut*/
.table tr:nth-child(even) {
    background-color: #e6e6e6;
}

.table th {
  background-color: white;  
}

.table td{
    border: 1px solid #ccc;    
}

.table {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/*table avec les rangees de differentes couleurs --fin*/

/*drop down list de recherche*/
.form-search
{
  display: inline-block;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  float:left;
  overflow:hidden;
}

.tsearch
{
    display: contents;
    float:right;
    width:100%;
}
.tsearch td
{
    padding: 5px;
}

/*debut barre de progres pour en attente de jumelage*/

.progres {
  position: fixed;
  left:0;
  top:51px;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #ccc;
  border-radius: 2px;
  margin: 0;
  overflow: hidden;
}

.progres .indeterminate {
  background-color: #428bca;
}

.progres .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
          animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progres .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
/*fin barre de progres pour en attente de jumelage*/

@media (min-width: 768px) and (max-width: 991px) {
    .nomUtilisateurNav{
        display:none !important;
    }
}

@media (max-width: 768px)
{
    .glyphicon-user{
        display:none !important;
    }
    .glyphicon-log-in{
        display:none !important;
    }
}

.hover-student
{
    background-color:#f9f9f9;
} 
.hover-student:hover
{
    background-color:#eee;
} 
.nodeco
{
        color:#444;
}
.nodeco:hover
{
    color:#444;
    text-decoration:none;
}
.nodeco:not(:hover)
{
    text-decoration:none;
    color:#444;
}

.checkzone input[type=checkbox] {
    display:none;
}

.checkzone label {
    border:2px solid #555555;
    height: 25px;
    width: 25px;
    margin-bottom:-5px;
}

.checkzone input[type=checkbox]:checked ~ label {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M14 18L26 6l4 4-16 16L4 16l4-4z"/></svg>');
  background-size: 100%;
  float:none;
}

/*login*/
#login-btn-forgottenpswd { font-size:120%;font-weight: bolder;height:34px;border-bottom-left-radius: 0;border-top-left-radius: 0;}
#input-pswd { float:left;width:245px;border-bottom-right-radius: 0;border-top-right-radius: 0;}

/*dossier etu*/
#de-btn-input-field-tel { height: 34px; width:34px; } 
#de-btn-input-field-email { height: 34px; width:34px;} 
#de-input-field-tel { float: left;width: 245px; } 
#de-input-field-email { float: left;width: 245px; } 
#de-btn-input-field-icon {margin-left:-6px;font-size:150%;}

/* Inscription */
.dropDownSess {
    width: 150px;
}
.dropDownStatut {
    width: 120px;
}

.rowCourseReussisPadTop {
    padding:10px 10px 10px 10px;
    border-bottom: 1px solid #eeeeee;
}

.checkboxinscr {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
.checkboxinscr:checked {
    background: #abd;
}

.ins-row {
    padding-top:5px;
}

.ins-text-box {
    height:30px;
}

.ins-selectcours {
    height:30px;
}
.ins-selectcollege {
    height:30px;
}
.ins-btnAjouter {
    margin-top:20px;
}
.hIns {
    font-weight:bold;
}

.pageItemPadding {
    padding:10px 10px 10px 10px;
}