<script>
    $(document).ready(function () {
        var idPerso = $("#personne_id_Pers").val()
        $("#progetuTable").on('click',"button[name = 'SuppProg']", function() {
            $("#IDPE").text(this.id);
        })
        $("#btnDeleteEtuProg").click(function() {
            var idProgEtu = $("#IDPE").text();
            $.ajax({type: 'POST',
                url:  @Html.Raw("\"/" + HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "/ActualisePEtu\""),
                data: {
                    idPers: idPerso,
                    idProg: idProgEtu
                },
                datatype: "json",
                success: function (donnees) {
                    $("#progetuTable").html("");
                    $.each(donnees, function (i, item) {
                        var c = "<td>"+item.NomProg+"</td>";
                        var s = "<td><button id=\""+item.id_EtuProgEtude+"\" type=\"button\" class=\"btn btn-info btn-sm\" data-toggle=\"modal\" name=\"SuppProg\" data-target=\"#myModal\">Supprimer</button></td>";
                        var j = $("#progetuTable").html();
                        $("#progetuTable").html(j+"<tr>"+c+s+"</tr>");
                        window.location.reload();
                    });
                }});
        });
    })
</script>