@using sachem.Models
@model CoursSuivi

@{
    ViewBag.Title = Messages.CoursSuiviAjouterTitre;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_CoursSuivi", Model)
    </div>
}
