@using sachem.Models

@{
    ViewBag.Title = "Contrat d'engagement";
}

<h2>@ViewBag.Title</h2>

<span><b>Dans le but d'assurer l'efficacité du service de tutorat offert au Sachem, vous vous engagez à:</b></span><br />
<div class="form-group">
    <ul>
        <li><b>Respecter</b> l'horaire prévu et à aviser votre partenaire dans le cas d'un retard prévisible ou d'une absence. Le tuteur a la responsabilité de compléter un billet d'absence.</li>
        <li><b>Reprendre</b> dans les plus bref délais toute rencontre annulée (au plus tard lors des 2 semaines qui suivront la rencontre).</li>
        <li><b>Préparer</b> vos rencontres de façon à utiliser adéquatement les périodes de tutorat. Chacun doit fournir une certaine somme de travail entre les rencontres afin que celles-ci atteignent leur objectif. À cette fin, l'élève aidé accepte que son tuteur vérifie au début de chaque rencontre le travail effectué (exercices, résumés, etc.) depuis la rencontre précédente.</li>
        <li><b>Accepter</b> dans les plus bref délais toute rencontre annulée (au plus tard lors des 2 semaines qui suivront la rencontre).</li>
        <li><b>Aviser</b> la sécretaire du Sachem si vous décidez d'abandonner votre cours ou le cégep, et ce, le plus tôt possible.</li>
        <li><b>Aviser</b> la sécretaire du Sachem si vous décidez d'interrompre vos rencontres de tutorat, et ce, le plus tôt possible.</li>
    </ul>
</div>

