@using sachem.Models
@model ProgrammeEtude

@{
    ViewBag.Title = Messages.ProgrammesAjouterTitre;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "ProgrammesOfferts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_ProgrammesOfferts")
    </div>
}
