@using sachem.Models

<h5>@Messages.InscriptionCoursReussiIndication;</h5>

@Html.Partial("_BoutonsNav")

<script type="text/javascript">

    afficherErreur = function ()
    {
        $.ajax({
            url: "/Inscription/ErreurCours",
            type: "POST",
            success: function (retour) {
                $("#erreur").html(retour);
            }
        });
    }
    listeCoursReussis = function () {
        var infoCourCollegeNote = [];

        $(".InfoCourCollege").each(function (i) {
            infoCourCollegeNote.push([]);
            $($(this).find(".valLignecours")).each(function (j) {
                infoCourCollegeNote[i][j] = $(this).val();
            });
        });

        return infoCourCollegeNote;
    }

    validerCoursReussis = function (listeCoursReussis)
    {
        listeCoursReussis.forEach(function (element) {
            alert(element);
        });

    }

    activationInput = function ()
    {
        $(".btnSupprimerCours").click(function () {
            $(this).parent().parent().remove();
        });
        $(".InfoCourCollege").find($(".dropDownCours")).change(function () {
            if ($(this).val() !== "") {
                $(this).closest(".InfoCourCollege").find($(".coursChange")).attr('disabled', 'disabled');
            }
            else {
                $(this).closest(".InfoCourCollege").find($(".coursChange")).removeAttr('disabled');
            }
        });
        $(".InfoCourCollege").find($(".dropDownCollege")).change(function () {
            if ($(this).val() !== "") {
                $(this).closest(".InfoCourCollege").find($(".collegeChange")).attr('disabled', 'disabled');
            }
            else {
                $(this).closest(".InfoCourCollege").find($(".collegeChange")).removeAttr('disabled');
            }
        });
    }

    ajouterLigneCours = function () {
        $.ajax({
            url: "/Inscription/getLigneCoursEleveAide",
            type: "POST",
            success: function (donnees) {
                $("#espaceCours").append(donnees);
                activationInput();
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                $("#espaceCours").append(errorThrown);
            }
        });
    }

    ajouterLigneCours();
    $("#btnAjouterCours").click(function (){
        ajouterLigneCours();
    });
    $("#btnAnnuler").click(function () {
        window.location.href = '@Url.Action("Index", "Inscription")';
    });
    $("#btnPoursuivre").click(function () {
        var coursReussis = listeCoursReussis();
        validerCoursReussis(coursReussis);
    });
</script>
