@using sachem.Models
<div>
    <input type="button" value="@Messages.EnregistrerPoursuivre" onclick="suivant()" class="btn btn-default" data-toggle="modal"/>
    <input type="button" value="@Messages.Annuler" class="btn btn-default" />
</div>
