<div>
    <input type="button" value="Enregistrer et poursuivre" onclick="suivant()" class="btn btn-default" data-toggle="modal" data-target="#ConfirmDisp"/>
    <input type="button" value="Annuler" class="btn btn-default" />
</div>
