@using sachem.Models
<div id="espaceCours">
</div>
<div style="padding-bottom:10px">
    <input type="button" value="@Messages.CoursAjouterTitre" class="btn btn-default ins-btnAjouter" id="btnAjouterCours" /><br /><br />
    <input type="button" value="@Messages.EnregistrerPoursuivre" class="btn btn-default" id="btnPoursuivre" />
    <input type="button" value="@Messages.EnregistrerBrouillon" class="btn btn-default" id="btnBrouillon" />
    <input type="button" value="@Messages.Annuler" class="btn btn-default" id="btnAnnuler" />
</div>
