@using Microsoft.AspNet.Identity
@using sachem.Models


<h3 style="background-color:aliceblue">Informations spécifiques</h3>
<h5 id="erreur" style="color:red;"></h5>
<h5 class="hIns">
    Indiquez tous les cours de mathématiques(collégial) que vous avez réussis,
    abandonnés ou échoués au cégep. Pour ceux réussis, indiquez vos résultats :
</h5>
<br />
<div id="espaceCours">
</div>
<div style="padding-bottom:10px">
    <input type="button" value="Ajouter un cours" class="btn btn-default ins-btnAjouter" id="btnAjouterCours" /><br /><br />
    <input type="button" value="Enregistrer et poursuivre" class="btn btn-default" id="btnPoursuivre" />
    <input type="button" value="Enregistrer un brouillon" class="btn btn-default" id="btnBrouillon" />
    <input type="button" value="Annuler" class="btn btn-default" id="btnAnnuler" />
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
        afficherErreur = function ()
        {
            $.ajax({
                url: "/Inscription/ErreurCours",
                type: "POST",
                success: function (retour) {
                    $("#erreur").html(retour);
                }
            });
        }
        activationInput = function ()
        {
            $(".btnSupprimerCours").click(function () {
                $(this).parent().parent().remove();
            });
            $(".ins-selectcours").change(function () {
                var test = $(this).val();                
            });
        }
        listeCoursReussis = function () {
            var infoCourCollegeNote = [];

            $(".InfoCourCollege").each(function (i) {
                infoCourCollegeNote.push([]);
                $($(this).find(".valLignecours")).each(function (j) {
                    infoCourCollegeNote[i][j] = $(this).val();
                });
            });

            return infoCourCollegeNote;
        }
        ajouterLigneCours = function () {
            $.ajax({
                url: "/Inscription/getLigneCoursEleveAide",
                type: "POST",
                success: function (donnees) {
                    $("#espaceCours").append(donnees);
                    activationInput();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#espaceCours").append(errorThrown);
                }
            });
        }
        ajouterLigneCours();
        $("#btnAjouterCours").click(function (){
            ajouterLigneCours();
        });
        $("#btnAnnuler").click(function () {
            window.location.href = '@Url.Action("Index", "Inscription")';
        });
        $("#btnPoursuivre").click(function () {
            var coursReussis = listeCoursReussis();
            var postData = { values: coursReussis };
            $.ajax({
                url: "/Inscription/EleveAide1",
                type: "POST",
                data: postData,
                success: function () {
                    
                },
                error: function () {
                    alert("Il y a eu une erreur. Cause possible: le résultat et le statut du cours ne concorde pas.");
                }
            });
        });
</script>