@{
    ViewBag.Title = "Inscription - Élève aidé";
}
<div style="margin-right:15%">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_CoursReussisEleveAide")
    }
</div>