@{
    ViewBag.Title = "Accueil";
}

<link href='https://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css' />
<div class="jumbotron">
    <div style="padding-left:10%;">
        <b>Bienvenue sur le site du SACHEM</b>
    </div>
    <div style="text-align:center;">
        <img src="~/Images/MontageMenu.jpg" style="width:80%;" />
    </div>

</div>

